@model DevCodeGroupCapstone.Models.View_Models.LessonAndStudentsViewModel




<h2>Find the Id of the student you want to add to your make-ups list.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lesson</h4>
        <hr />


        <div class="form-group">
            @Html.LabelFor(model => model.lesson.studentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lesson.studentId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lesson.studentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="displayAllStudentsAndIds">
    <h3> List of Student IDs</h3>
    <ul>
        @foreach (var student in Model.students)
        {

            <li> @student.PersonId @student.firstName @student.lastName </li>


        }

    </ul>
</div>


