@model IEnumerable<DevCodeGroupCapstone.Models.View_Models.PersonAndLocationViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>ViewTeachers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.person.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.person.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.person.subjects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location.state)
            </td>



            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<div id="calendar"></div>

<script>
    (function ($) { 
    $(document).ready(function () {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#calendar').fullCalendar({
            editable: true,
            firstDay: 1,
            year: y,
            month: m,
            date: d,
            header: {
                left: 'title',
                right: 'prev, next today, agendaDay, agendaWeek, month'
            },
            defaultView: 'agendaWeek',
            columnFormat: {
                month: 'ddd',
                week: 'ddd d/ M',
            day: 'dddd d/ M'
},
        minTime: 7,
        maxTime: 22,
        editable: true,
        droppable: false,
        slotMinutes: 15,
        disableResizing: false,
        events: [
        {
            'title': 'Calendar Test',
        'start': '2014 - 06 - 01 18: 30: 00',
        'end': '2014 - 06 - 01 19: 00: 00',
        'allDay': false
},
        {
            'title': 'Calendar Test 1',
        'start': '2014 - 06 - 02 18: 30: 00',
        'end': '2014 - 06 - 02 19: 00: 00',
        'allDay': false
},
        {
            'title': 'Calendar Test 2',
        'start': '2014 - 06 - 03 18: 30: 00',
        'end': '2014 - 06 - 03 19: 00: 00',
        'allDay': false
}
    ] ,
});
});

})(jQuery);
</script>