@model IEnumerable<DevCodeGroupCapstone.Models.View_Models.PersonAndLocationViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Create a Lesson</h2>

<p>
    @Html.ActionLink("Create New Lesson", "Create", "Lesson")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    <h1>test</h1>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.person.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.person.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.person.subjects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location.state)
            </td>



            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.person.PersonId */ }) |
                @Html.ActionLink("Details", "Details", new {  id=item.person.PersonId }) |
                @Html.ActionLink("Delete", "Delete", new { /*id=item.person.PersonId*/ })
            </td>
        </tr>
    }

</table>

<ul>
    <li>@Html.ActionLink("Teacher Preferences", "Create", "TeacherPreference")</li>
</ul>

<div id="calendar"></div>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>

<script>
            document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

var calendar = new FullCalendar.Calendar(calendarEl, {
    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
    defaultView: 'dayGridWeek',
    defaultDate: '2019-11-07',
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
    events: [
      {
        title: 'All Day Event',
        start: '2019-11-01'
      },
      {
        title: 'Long Event',
        start: '2019-11-07',
        end: '2019-11-10'
      },
      {
        groupId: '999',
        title: 'Repeating Event',
        start: '2019-11-09T16:00:00'
      },
      {
        groupId: '999',
        title: 'Repeating Event',
        start: '2019-11-16T16:00:00'
      },
      {
        title: 'Conference',
        start: '2019-11-11',
        end: '2019-11-13'
      },
      {
        title: 'Meeting',
        start: '2019-11-12T10:30:00',
        end: '2019-11-12T12:30:00'
      },
      {
        title: 'Lunch',
        start: '2019-11-12T12:00:00'
      },
      {
        title: 'Meeting',
        start: '2019-11-12T14:30:00'
      },
      {
        title: 'Birthday Party',
        start: '2019-11-13T07:00:00'
      },
      {
        title: 'Click for Google',
        url: 'http://google.com/',
        start: '2019-11-28'
      }
    ]
  });



        calendar.render();
      });
            

       
</script>