@model DevCodeGroupCapstone.Models.View_Models.BigIndexViewModel


    @*<div class="index-header">
        <h2><strong>@Model.currentUser.firstName  @Model.currentUser.lastName</strong> Student Dashboard </h2>
    </div>*@

    <div id="studentView">

        @Html.ActionLink("Update Info", "Edit", new { id = Model.currentUser.PersonId })



        <button type="button" id="showLessons">SHOW LESSONS</button>
        <button type="button" id="showTeachers">SHOW TEACHERS</button>

        <div id="teacherDirectory" style="display: none;">
            <h3>Teachers In Your Area</h3>





            <table class="table" id="teacherList">
                <tr>
                    <th></th>
                </tr>



                @{
                    var teacherList = Model.teachersComp;
                    var lessonList = Model.studentLessons;
                    var requestedList = Model.requestsForStudent;
                }

                @foreach (var item in teacherList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.person.firstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person.lastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.person.subjects)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.location.city)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.location.state)
                        </td>



                        <td>

                            @Html.ActionLink("Details", "Details", new { id = item.person.PersonId })  |
                            @Html.ActionLink("Request Lesson", "Create", "Lesson", new { teacherId = item.person.PersonId }, null)

                        </td>
                    </tr>
                }


            </table>
        </div>

        <div id="lessonList">
            <h3>Scheduled Lessons</h3>
            <table class="table">
                <tr>
                    <th> Lesson Date / Time </th>
                    <th> Lesson Subject </th>
                    <th> Instructor </th>
                    <th> Location </th>
                    <th> Price </th>
                    <th></th>
                </tr>

                @foreach (var lesson in lessonList)
                {


                    <tr>

                        <td>  @Html.DisplayFor(modelItem => lesson.start) - @Html.DisplayFor(modelItem => lesson.end) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.LessonType)  </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Teacher.firstName) @Html.DisplayFor(modelItem => lesson.Teacher.lastName) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Location.address1) @Html.DisplayFor(modelItem => lesson.Location.city) @Html.DisplayFor(modelItem => lesson.Location.state) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Price)  </td>



                        <td>
                            @Html.ActionLink("CANCEL", "../SMS/SendSMSToTeacher", new { id = lesson.LessonId })
                        </td>
                        <td>
                            @Html.ActionLink("DETAILS", "../Lesson/Details", new { id = lesson.LessonId })

                        </td>
                    </tr>
                }

            </table>
        </div>

        <div id="requested">
            <h3> Awaiting Reply </h3>

            <table class="table">
                <tr>
                    <th> Lesson Date / Time </th>
                    <th> Lesson Subject </th>
                    <th> Instructor </th>
                    <th> Location </th>
                    <th> Price </th>
                    <th></th>
                </tr>

                @foreach (var lesson in requestedList)
                {


                    <tr>

                        <td>  @Html.DisplayFor(modelItem => lesson.start) - @Html.DisplayFor(modelItem => lesson.end) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.LessonType)  </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Teacher.firstName) @Html.DisplayFor(modelItem => lesson.Teacher.lastName) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Location.address1) @Html.DisplayFor(modelItem => lesson.Location.city) @Html.DisplayFor(modelItem => lesson.Location.state) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Price)  </td>



                        <td>
                            @Html.ActionLink("CANCEL", "../SMS/SendSMSToTeacher", new { id = lesson.LessonId })
                        </td>
                        <td>
                            @Html.ActionLink("DETAILS", "../Lesson/Details", new { id = lesson.LessonId })

                        </td>
                    </tr>
                }

            </table>
        </div>



    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        


        (function ($) {

            ResetHeader();

            function ResetHeader() {
                 $("index-header-parent").html("");
            $("#index-header-parent").append("<div class='index-header'><h2><strong>@Model.currentUser.firstName  @Model.currentUser.lastName</strong> Student Dashboard </h2> </div>");
            }
           

          
   

             $( "#showLessons" ).click(function() {
                        console.log("Handler for .click() called.");
                            $("#teacherDirectory").hide();
                 $("#lessonList").show();
                 $("#requested").show();
                            //$("#requested").hide();
              });
            $( "#showTeachers" ).click(function() {
                        console.log("Handler for .click() called.");
                            $("#teacherDirectory").show();
                            $("#lessonList").hide();
                            $("#requested").hide();
            });
          



        })(jQuery);

    });
</script>




