@model DevCodeGroupCapstone.Models.View_Models.BigIndexViewModel


   

<div id="teacherView">
    <div class="container">
        <div class="row" ">
            <div class="col-md-4 optionsHeader">
                @Html.ActionLink("Teacher Preferences", "Create", "TeacherPreference")
            </div>
            <div class="col-md-4 optionsHeader">
                @Html.ActionLink("Teacher Availability", "List", "TeacherAvailability")

            </div>

        </div>
        <div class="row">
            <div class="col-md-4 optionsHeader">
                <button type="button" id="viewLessons">LESSONS</button>
            </div>
            <div class="col-md-4 optionsHeader">
                <button type="button" id="viewCalendar">SCHEDULE</button>
            </div>
        </div>


        <


        <div id="lessons" style="display: none;">
            <h2> LESSONS</h2>

            <table class="table">
                <tr>
                    <th> Lesson Date / Time </th>
                    <th> Lesson Subject </th>
                    <th> Student </th>
                    <th> Location </th>
                    <th> Price </th>
                    <th></th>
                </tr>

                @{
                    var lessonList = Model.teacherLessons;
                }
                @foreach (var lesson in lessonList)
                {
                    <tr>
                        <td>  @Html.DisplayFor(modelItem => lesson.start) - @Html.DisplayFor(modelItem => lesson.end) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.LessonType)  </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Student.firstName) @Html.DisplayFor(modelItem => lesson.Student.lastName) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Location.address1) @Html.DisplayFor(modelItem => lesson.Location.city) @Html.DisplayFor(modelItem => lesson.Location.state) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Price)  </td>

                        <td>
                            @Html.ActionLink("CANCEL", "../SMS/SendSMSToStudent", new { id = lesson.LessonId, alert = "cancel" })
                        </td>
                        <td>
                            @Html.ActionLink("DEATILS", "../Lesson/Details", new { id = lesson.LessonId })

                        </td>
                    </tr>
                }

            </table>
        </div>

      
        <button id="requestNotification" type="button">REQUESTS</button>

        <div id="requestedLessons" style="display: none;">
            <h2> LESSONS</h2>

            <table class="table">
                <tr>
                    <th> Lesson Date / Time </th>
                    <th> Lesson Subject </th>
                    <th> Student </th>
                    <th> Location </th>
                    <th> Price </th>
                    <th></th>
                </tr>

                @{
                    var lessons = Model.requestsForTeacher;
                }
                @foreach (var lesson in lessons)
                {
                    <tr>
                        <td>  @Html.DisplayFor(modelItem => lesson.start) - @Html.DisplayFor(modelItem => lesson.end) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.LessonType)  </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Student.firstName) @Html.DisplayFor(modelItem => lesson.Student.lastName) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Location.address1) @Html.DisplayFor(modelItem => lesson.Location.city) @Html.DisplayFor(modelItem => lesson.Location.state) </td>
                        <td>  @Html.DisplayFor(modelItem => lesson.Price)  </td>

                        <td>
                            @Html.ActionLink("APPROVE/EDIT", "../Lesson/Edit", new { id = lesson.LessonId})
                            @Html.ActionLink("DENY", "../Lesson/Delete", new { id = lesson.LessonId})

                        </td>
                        <td>
                            @Html.ActionLink("DEATILS", "../Lesson/Details", new { id = lesson.LessonId })

                        </td>
                    </tr>
                }

            </table>
        </div>

        <div id="calendar"></div>
    </div>
    </div>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>









<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');


        (function ($) {

            ResetHeader();

            function ResetHeader() {
                 $("index-header-parent").html("");
            $("#index-header-parent").append(" <div class='index-header'><h2><strong>@Model.currentUser.firstName  @Model.currentUser.lastName:</strong> Instructor Dashboard </h2> </div>");
            }


            $.ajax({
                url: 'https://localhost:44326/api/ScheduleApi?generateForView=lessonOptions&teacherIdInt=1',
                type: 'GET',
                success: function (result) {

                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        plugins: ['interaction', 'dayGrid', 'timeGrid'],
                        defaultView: 'timeGridWeek',
                        defaultDate: '2019-11-12',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        events: result
                    });

                    calendar.render();
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });




             $( "#viewLessons" ).click(function() {
                        console.log("Handler for .click() called.");                         
                            $("#calendar").hide();
                            $("#lessons").show();  
                            $("#requestedLessons").hide();
              });
            $( "#viewCalendar" ).click(function() {
                        console.log("Handler for .click() called.");                       
                            $("#calendar").show();
                            $("#lessons").hide();  
                            $("#requestedLessons").hide();
            });
            $( "#requestNotification" ).click(function() {
                        console.log("Show requests");                       
                            $("#requestedLessons").show();
                            $("#lessons").hide(); 
                            $("#calendar").hide();  
            });



        })(jQuery);

    });
</script>

