<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeTeachToday</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top greenBar">
        <div class="container">
            <div class="navbar-header greenBar">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="logo">
                    <a id="logoLink" href="@Url.Action("Index", "Person")">
                        <img id="logoImg" src="~/Content/Images/WeTeachTodayLogoTransparent.png" style="height: 60px;" alt="logo" />
                        <img id="logoImgAlt" src="~/Content/Images/WeTeachTodayLogoTransparentAlt.png" style="display: none; height: 60px;" alt="logo" />

                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse" id="greenBar">
                <ul class="nav navbar-nav route">
                    @Html.ActionLink("Student", "StudentIndex", "Person", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Teacher", "TeacherIndex", "Person", new { area = "" }, new { @class = "navbar-brand" })

                </ul>
               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div id="index-header-parent">
        </div>
    </div>
    @*<div id="index-header-parent">
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <img id="infoDispLogo" style="height: 100px;" src="~/Content/Images/WeTeachTodayLogo1.png" alt="logo1" />
        </footer>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        
                (function ($) {

                    
                  
           $(".logo").mouseenter(function () {
                  console.log("mouse eneter");
               $("#logoImg").hide();
               $("#logoImgAlt").show();
           });
             $(".logo").mouseleave(function () {
                  console.log("mouse eneter");
               $("#logoImgAlt").hide();
               $("#logoImg").show();
             });
                 

                     

                   

                  

                })(jQuery);

        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fullcalendar")
    @RenderSection("scripts", required: false)
</body>
</html>
